body {
background-color: #F875AA;
color:#0F0F0F;
margin: 0px;
}
header{background-color: #7752FE;
color: #0F0F0F;
padding: 20px;
font-size: 32px;
border-bottom: 4px solid white;
}

section{
    background-image: linear-gradient(#AEDEFC,#7752FE);
    padding-top:  80px;
    padding-bottom: 80px;
    text-align: center;
}